stages:
  - test
  - build

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE/employee-image:$CI_COMMIT_REF_SLUG


mirror:
  script:
    - git push --mirror git@gitlab.com:ankamsandeep/mirror-test.git
  only:
    - branches
  except:
    - master

lint_test:
  image: python:3.8.0-slim
  stage: test
  before_script:
    #- pip install --upgrade pip
    #- pip3 install flake8==4.0.1
    #- pip3 install flake8-html==0.4.1 Jinja2==3.0
     - pip install flake8==3.8.4
     - pip install flake8-html
  script:
    - flake8 --format=html --htmldir=flake8_reports/
  artifacts:
    when: always
    paths:
      - flake8_reports/

pytest:
  image: python:3.8.0-slim
  stage: test
  before_script:
    - pip3 install pytest-html
    - pip3 install -r requirements.txt

  script:
    -  pytest --html=pytest_reports/pytest-report.html --self-contained-html
  artifacts:
    when: always
    paths:
      - pytest_reports/

build:
    image: docker:latest
    services:
      - docker:dind
    stage: build
    before_script: 
      - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    script: 
     - docker build -t $IMAGE_TAG .
     - docker images
     - docker push $IMAGE_TAG
